body{
    background-image: url('Gemini_Generated_Image_u5kbngu5kbngu5kb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.HighScore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.HighScore p{
    font-size: 100px;
    font-weight: 600; 
    color: black;  
}
.Score p{
    color: black;  
}

.button{

    display: flex;
    justify-content: center;
    align-items: center;

}
button{
    font-size: 80px;

}

a{
    font-family: cursive;
    text-decoration: none;
    color: black;
}