body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    background-size: 100% 100%;
    background-image: url('Gemini_Generated_Image_u5kbngu5kbngu5kb.jpg');
    background-repeat: no-repeat;
    display: flex;
}

/* Responsive Design for Small Devices */
@media screen and (max-width: 700px) {
    body {
        font-weight: 600;
        background-size: 100% 100%;

    }
}

/* Responsive Design for Tablets */
@media screen and (min-width: 701px) and (max-width: 1024px) {
    body {
        font-weight: 600;
        background-size: 100% 100%;

    }
}

/* Responsive Design for Large Screens */
@media screen and (min-width: 1025px) {
    body {
        font-weight: 600;
        background-size: 100% 100%;

    }
}


.HighScore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;


}

.HighScore p {
    font-size: 100px;
    font-weight: 600;
    color: black;
}

.Score p {
    color: black;
    font-size: 100px;
    font-weight: 600;
}

.button {

    display: flex;
    justify-content: center;
    align-items: center;

}

button {
    font-size: 80px;

}

a {
    font-family: cursive;
    text-decoration: none;
    color: black;
}